* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  color: floralwhite;
  background-color: black;
}

img {
  border-color: #0094c8;
  border-style: solid;
  border-width: 3px;
}

h1 {
  background-color: #0094c8;
  color: black;
  font-size: xx-large;
}

.flex-item {
  display: flex;
  width: 100px;
  height: 100px;
  text-align: center;
  background-image: url();
}

.flex-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  flex-wrap: wrap;
  margin: auto;
}

#headPhoto {
  object-fit: scale-down;
  display: flex;
  justify-content: space-around;
}

#heading {
  max-width: 100%;
}

.AnimatedHeading {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.AnimatedHeading .letter {
  display: inline-block;
  line-height: 1em;
  background-color: #0094c8;
  color: black;
  font-size: xx-large;
}

.ParaAnime {
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ParaAnime .word {
  display: inline-block;
  line-height: 1em;
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: #0094c8;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

figure:hover {
  animation: bloom ease-in-out 0.75s forwards;
}

figure:hover::before {
  animation: circle 0.75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: #0094c8;
  }
  40% {
    opacity: 1;
    background: #0094c8;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

p {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.flex-item2 {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  background-image: url();
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.flex-item3 {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  background-image: url();
}

.flex-container3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.bottom {
  background-color: #0094c8;
  font-size: small;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
