@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  align-items: center;
  text-align: center;
  color: rgb(70, 144, 255);
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    0deg,
    rgb(188, 209, 255) 23.8%,
    rgb(241, 241, 241) 92%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 15%;
}

.circle-img {
  border-radius: 50%;
}

h1 {
  background-color: rgb(103, 142, 226) 23.8%;

  font-size: xx-large;
}

.flex-item {
  display: flex;
  width: 100px;
  height: 100px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  flex-wrap: wrap;
  margin: auto;
}

#headPhoto {
  object-fit: scale-down;
  display: flex;
  justify-content: space-around;
}

#heading {
  max-width: 100%;
  box-shadow: 0 10px 10px 0 rgba(37, 37, 37, 0.6);
  border-radius: 5%;
  border-width: 0;
  margin-top: 50px;
}

.true-coders {
  border-radius: 5%;
}

.AnimatedHeading {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.AnimatedHeading .letter {
  display: inline-block;
  line-height: 1em;
  background-color: rgb(103, 142, 226) 23.8%;

  font-size: xx-large;
}

.ParaAnime {
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ParaAnime .word {
  display: inline-block;
  line-height: 0.3em;
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgb(103, 142, 226) 23.8%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

figure:hover {
  animation: bloom ease-in-out 0.75s forwards;
}

figure:hover::before {
  animation: circle 0.75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgb(253, 253, 253) 23.8%;
  }
  40% {
    opacity: 1;
    background: rgb(255, 255, 255) 23.8%;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

p {
  font-size: larger;
}

ul {
  margin-left: 350px;
  margin-right: 350px;
}

.flex-item2 {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  background-image: url();
}

.flex-container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.flex-item3 {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  background-image: url();
}

.flex-container3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.contact {
  font-family: "Lato", sans-serif;
}

.bottom {
  background-color: rgb(103, 142, 226) 23.8%;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(70, 144, 255);
  margin-bottom: 50px;
}
